[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Link
Name=Flujos.org
Comment=Visita el sitio radio.flujos.org
Icon=gnome-fs-bookmark
URL=http://radio.flujos.org
