[Desktop Entry]
Name=flujconf
Comment=Configurador para flujos
Icon=darklord
Type=Application
Categories=AudioVideo;Audio;
Exec=flujconf
StartupNotify=false
Terminal=true
MimeType=audio/basic;
